.page-fade-enter,
.page-fade-appear{
  opacity: 0;
}

.page-fade-enter-active,
.page-fade-entering,
.page-fade-appear-active{
  opacity: 1;
  transition: opacity 800ms ease-in-out;
}

.page-fade-enter-done,
.page-fade-entered,
.page-fade-appear-done{
  opacity: 1;
}

.page-fade-exit{
  opacity: 1;
}

.page-fade-exit-active{
  opacity: 0;
  transition: opacity 800ms ease;
}

.page-fade-exit-done{
  opacity: 0;
}

.page-fade-initial{
  transition: opacity 2s ease-in-out 0ms;
  opacity: 0;
}